//- Все примеси в этом файле должны начинаться c имени блока (order-block)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт в сборку

mixin order-block

  //- Вызов:
        +order-block

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' order-block--' + modsList[i].trim();
      }
    }

  section.order-block(class=allMods)&attributes(attributes)
    .container
        h2.order-block__title Оформление&nbsp;
            span.blue-color Заказа
        .order-block__title-small Перед заполнением формы ознакомьтесь с нашей схемой работы!
        .order-block__steps
            .order-block__steps-item
                .order-block__steps-item-img
                    img.order-block__steps-item-icon(src="./img/step.svg", alt="", width="100px", height="100px")
                .order-block__steps-item-text Lorem ipsum dolorsit amet
            .order-block__steps-item
                .order-block__steps-item-img
                    img.order-block__steps-item-icon(src="./img/step2.svg", alt="", width="100px", height="100px")
                .order-block__steps-item-text Сonsecteturadipiscing elit
            .order-block__steps-item
                .order-block__steps-item-img
                    img.order-block__steps-item-icon(src="./img/step3.svg", alt="", width="100px", height="100px")
                .order-block__steps-item-text Sed do eiusmod tempor
            .order-block__steps-item
                .order-block__steps-item-img
                    img.order-block__steps-item-icon(src="./img/step4.svg", alt="", width="100px", height="100px")
                .order-block__steps-item-text Esse cillum doloreeu fugiat
            .order-block__steps-item
                .order-block__steps-item-img
                    img.order-block__steps-item-icon(src="./img/step5.svg", alt="", width="100px", height="100px")
                .order-block__steps-item-text Excepteur sint occaecat cupidatat non proident
        form
            .order-block__greed-form
                .order-block__greed-form-item
                    .select-wrap
                        label
                            select.select(name="type-system")
                                option(value="type") Выберите тип системы
                                option(value="type2") Sed ut perspiciatis
                                option(value="type3") Nemo enim ipsam
                                option(value="type4") Et harum quidem
                                option(value="type5") Temporibus autem
                                option(value="type6") Itaque earum rerum
                .order-block__greed-form-item
                    +field('email', _, 'Ваш e-mail', '', 'mail-field', 'mail-field')(required)
                .order-block__greed-form-item
                    +field('text', _, 'Ваше имя', '', 'field-id', 'field-name')(required)
                .order-block__greed-form-item.order-block__greed-form-item--col-2
                    .order-block__range
                        .range__text Sed ut perspiciatis, unde omnis iste natus
                        .range__value
                            span.js-range__value
                            | %
                    .range
                        .range__inner
                    input.js-range__value-input(type="hidden", name="range-order")
                .order-block__greed-form-item
                    label.form-file
                        img(src="./img/file-icon.svg", alt="", width="17px", height="20px")
                        | Прикрепить файл
                        input(type="file")
                .order-block__greed-form-item
                .order-block__greed-form-item
                    button.order-block__btn.main-btn.main-btn--wide Отправить
                .order-block__greed-form-item
